<!DOCTYPE html>

<html>
  <head>
    <title>Chatter :: Login</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/login.css">
  </head>
  <body>
    <h1>Welcome to chatter!</h1>

    {{#error}}
    <h2>{{error}}</h2>
    {{/error}}
    {{^error}}
    <h2>Please login.</h2>
    {{/error}}

    <form action="/login" method="post">
      <input type="text" name="user">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
